$white: #f2f2f2;
$off-white: #eaeaea;
$footer: #3F4354;
$lightgrey: #778899;
$grey: #C0C0C0;
$darkgrey: #2F4F4F;
$accent: #FF6F59;
$accent-dark: #db504a;
$accent-light: #e16b66;
$neongreen: #39ff14;

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

/************
  Highlighter
***********/
$highlight-color: #{$neongreen};
.underlined {
  text-align: center;
  font-family: "Poppins";
  font-size: 30px;
  color: $accent;
  flex: 1;
  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background .1s;
  &:hover, {
    background-size: 100% 100%;
  }
  &--thin {
    background-image: linear-gradient(to right, black 0, black 100%);
  }
  &--thick {
    background-position: 0 -0.1em;
    transition: background .3s;
  }
  &--offset {
    background-position: 0 0.2em;
    //didn't find another solution than mask the underline shape by a box shadow with the same color than the bg
    box-shadow: inset 0 -.5em 0 0 white;
  }
  &--gradient {
    background-position: 0 -0.1em;
    background-image: linear-gradient(to right, yellow 0, $neongreen 100%);
  }
  &--reverse {
    background-position: 100% -0.1em;
    transition: background 1s; //yep, that's a long link
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
  }
}


/**************
  Nav
**************/

$nav-width: 400px;
$nav-width-50: calc(#{$nav-width} + 50px);
#small-nav {
    visibility: hidden;
    position: absolute;
}

nav {
    padding-top: 25px;
    position: fixed;
    width: $nav-width;
    height: 100vh;
    background-color: $white;
    visibility: visible;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1), 0 8px 10px 0 rgba(0, 0, 0, .1);
}

nav h1 {
    text-align: center;
    font-family: "Poppins";
    font-size: 30px;
    color: $accent;
}

nav ul {
    margin-top: 34vh;
}

nav li {
    padding-left: 12%;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type: none;
    background-color: $white;
    transition: all .35s ease;
    color: black;
    font-size: 24px;
    font-family: "Raleway";
}

nav li:hover {
    background-color: $accent-dark;
    transition: all .15s ease;
    color: white;
}

nav ul a {
    width: 100%;
}

/**************
  Small Nav
**************/

#small-nav {
    padding-top: 25px;
    width: 100%;
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1), 0 4px 8px 0 rgba(0, 0, 0, .1);
}

#small-nav h1 {
    text-align: center;
    font-family: "Poppins";
    font-size: 30px;
    color: $accent;
}

#small-nav ul {
    font-family: "Poppins";
    text-align: center;
}

#small-nav li {
    color: black;
    display: inline-block;
    padding: 15px;
    transition: all .15s ease;
}

#small-nav li:hover {
    background-color: $accent-dark;
    transition: all .35s ease;
    color: white;
}

/**************
  Banner
**************/

.jumbotron {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    //background-image: url("/images/mountain.jpg");
    filter: blur(2px);
}

.filler {
    background-color: transparent;
    margin-left: auto;
    margin-right: 0;
    width: calc(100% - #{$nav-width-50});
    height: 60vh;
    padding-top: 40vh;
    color: $lightgrey;
    font-family: "Quicksand";
}

#accent {
    color: $accent;
}

.accent{
  color: $accent;
}

.filler h1 {
    font-size: 100px;
}

.filler p {
    font-size: 50px;
    position: relative;
    width: 400px;
}

$bg-col: #{$off-white};
.title-bg {
    margin-top: 50px;
    background-color: $bg-col;
    left: 0;
    height: 1em;
    position: absolute;
    right: 0;
    top: 0.35em;
    z-index: -1;
    width: 250px;
    border-radius: 2px;
}

.subtitle-bg {
    background-color: $bg-col;
    left: 0;
    height: 0.4em;
    position: absolute;
    right: 0;
    top: 0.5em;
    z-index: -1;
    width: 380px;
    border-radius: 2px;
}

#typed {
    font-size: 100px;
}

.typed-cursor {
    font-size: 110px;
}

/**************
  About
**************/


.about {
    font-family: "Poppins";
    margin-left: $nav-width-50;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: -50px;
    max-width: calc(100% - #{$nav-width-50});
    background-color: $accent-dark;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1), 0 8px 10px 0 rgba(0, 0, 0, .1);
    padding-bottom: 50px;
    color: $white;
}

.wrap {
    width: 100%;
}

.about-text {
    // padding-left: calc(50% - 350px);
    // padding-right: calc(50% - 350px);
    padding-left: calc(10%);
    padding-right: calc(10%);
}

.about h1 {
    width: calc(100% - 100px);
    padding: 50px;
    font-size: 100px;
}

.about-pic {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-size: 201px 201px;
    background-image: url("/images/me2.png");
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

.about p {
    margin-top: 25px;
    margin-bottom: 25px;
}

/**************
  Projects
**************/

.projects {
    font-family: "Poppins";
    margin-left: $nav-width-50;
    margin-right: 50px;
    margin-bottom: 50px;
    max-width: calc(100% - #{$nav-width-50});
    padding-bottom: 50px;
    background-color: $accent-dark;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1), 0 8px 10px 0 rgba(0, 0, 0, .1);
    padding-top: 50px;

    color: $white;
}

.projects h1 {
    width: calc(100%);
    font-size: 100px;
    padding-left: 50px;
}

.boxes {
  padding-left: 10%;
  padding-right: 10%;
}

.box{
  vertical-align: top;
  margin-top: 25px;
  display: inline-block;
  background-color: $accent-light;
  min-height: 300px;
  padding: 30px;
  width: calc(50% - 90px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1), 0 8px 10px 0 rgba(0, 0, 0, .1);
  position: relative;
  transition: all .35s ease;
}

.box:hover{
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, .2), 0 8px 10px 0 rgba(0, 0, 0, .2);
  transition: all .35s ease;
}

.projects h3{
  font-size: 32px;
  color: $white;
  vertical-align: top;
  margin-left: 10px;

}
.box p{
  padding-bottom:100px;
  font-size: 22px;
  color: $white;
}

#project-subtitle{
  padding-left: 50px;
  margin-left: 0;
}

.inline-block{
  display: inline-block;
}

.h3-icon {
  background-size: 51px 51px;
  background-image: url("/images/logos/code_logo.png");
  border-radius: 100%;
  width: 50px;
  height: 50px;

}

#box-left{
  margin-right: 25px;
}
#box-right{
  margin-left: 25px;
}

.icons {
  position: absolute;
  bottom: 25px;
}

$icon-bg-dimen: 75px;
.icon-bg{
  margin-right: 5px;
  display: inline-block;
  width: $icon-bg-dimen;
  height: $icon-bg-dimen;
  background-color: $white;
  border-radius: 100%;
  position: relative;
}

.icon{
  margin-left: 12px;
  margin-top: 12px;
  height: 50px;
  width: 50px;
  background-size: 51px 51px;
  margin-right: 15px;
}

.hidden {
  visibility: hidden;
}

#html{
  background-image: url("/images/logos/HTML_Logo.png");
}
#css{
  background-image: url("/images/logos/CSS_logo.png");
}
#js{
    background-image: url("/images/logos/js_logo.png");
}
#android{
  background-image: url("/images/logos/android_logo.png");
}
#csharp{
  background-image: url("/images/logos/csharp_logo.png");
}
#unity{
    background-image: url("/images/logos/unity_logo.png");
}
#java{
    background-image: url("/images/logos/java_logo.png");
}
#python{
    background-image: url("/images/logos/python_logo.png");
}
#sqlite{
    background-image: url("/images/logos/sqlite_logo.png");
}
#react{
    background-image: url("/images/logos/react_logo.png");
}
#node{
    background-image: url("/images/logos/node_logo.png");
}
#typescript{
  background-image: url("/images/logos/typescript.png");
}



/**************
  Contact
**************/

.contact {
    font-family: "Poppins";
    margin-left: $nav-width-50;
    margin-right: 50px;
    margin-bottom: 50px;
    max-width: calc(100% - #{$nav-width-50});
    background-color: $accent-dark;
    padding-bottom: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1), 0 8px 10px 0 rgba(0, 0, 0, .1);
    color: $white;
}

.contact-text {
    padding-left: calc(50% - 350px);
    padding-right: calc(50% - 350px);
    text-align: center;
}

.contact h1 {
    width: calc(100% - 100px);
    padding: 50px;
    font-size: 100px;
    float: left;
}

.contact-pic {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-size: 201px 201px;
    background-image: url("/images/email2.png");
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact p {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
}

.email p {
    text-align: center;
}

.email li {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.email a {
    background-color: $white;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Poppins', Papyrus, sans-serif;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .15s ease;
}

.email a:hover {
    background: $darkgrey;
    color: $white;
    transition: all .15s ease;
}


/**************
  Footer
**************/

$footer-padding: 7px;
#footer {
    width: 100%;
    text-align: center;
    padding-top: $footer-padding;
    padding-bottom: $footer-padding;
    background-color: $footer;
    z-index: 1;
    position: absolute;
    box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 1);
}

#footer p {
    color: $white;
    font-family: "Poppins";
}

/**************
  Media Queries
**************/

@media only screen and (max-width: 1300px) {
    .box {
      display: block;
      width: 90%;
    }
    #box-left{
      margin-right: 0;
    }
    #box-right{
      margin-left: 0;
    }
}

@media only screen and (max-width: 1050px) {
    nav li {
        transition: all .0s ease;
    }
    nav {
        visibility: hidden;
    }
    #small-nav {
        visibility: visible;
    }
    .contact,
    .projects,
    .about,
    .filler {
        margin-left: 50px;
        max-width: calc(100% - 100px);
    }
}

@media only screen and (max-width: 700px) {
    .about h1,
    .projects h1,
    .contact h1 {
        width: calc(100% - 100px);
        padding: 50px;
        font-size: 70px;
    }
    .projects h1{
      padding: 0;
      padding-left: 50px;
      width: calc(100%);
    }
    .projects h3{
      font-size: 24px;

    }
    .contact h3 {
        font-size: 16px;
    }
    .email li {
        display: block;
    }
    .filler p {
        font-size: 36px;
        width: 280px;
    }
    .subtitle-bg {
        width: 272px;
    }
    .email a {
      display:block;
      width: calc(100% - 100px);
      margin: auto;
      margin-bottom: 10px;
    }
    .h3-icon{
      visibility: hidden;
      width: 0px;
      height: 0px;
    }
}

@media only screen and (max-width: 500px) {
    .about h1,
    .projects h1,
    .contact h1 {
        width: calc(100% - 20px);
        padding: 20px;
        font-size: 40px;
    }
    .about,
    .contact,
    .projects{
      padding: 20px;
      margin-left: 10px;
      margin-right: 10px;
      max-width: calc(100% - 20px);
    }

    .projects h3{
      padding: 30px;
    }
    .box {
      width: calc(100% - 60px);
    }
    .boxes{
      padding-left: 0%;
      padding-right: 0%;
    }
    .icon {
      width: 30px;
      height: 30px;
      background-size: 31px 31px;
      margin-left: 10px;
      margin-top: 9px;
    }
    .icon-bg{
      width: 50px;
      height: 50px;
    }
}

@media only screen and (max-width: 400px) {
    #typed {
        font-size: 85px;
    }
    .typed-cursor {
        font-size: 85px;
    }
    .title-bg {
        width: 210px;
    }
}

@media only screen and (max-width: 347px) {
  .filler p {
      font-size: 24px;
      width: 190px;
  }
  .subtitle-bg {
      width: 180px;
  }
}

@media only screen and (max-width: 330px) {
    #typed {
        font-size: 70px;
    }
    .typed-cursor {
        font-size: 85px;
    }
    .title-bg {
        width: 165px;
    }
}

/**************
  Sketchy ass delays
**************/

.delay100{
  animation-delay: .1s;
}
.delay200{
  animation-delay: .2s;
}
.delay300{
  animation-delay: .3s;
}
.delay400{
  animation-delay: .4s;
}
.delay500{
  animation-delay: .5s;
}
.delay600{
  animation-delay: .6s;
}
.delay700{
  animation-delay: .7s;
}
.delay800{
  animation-delay: .8s;
}
.delay900{
  animation-delay: .9s;
}
.delay1000{
  animation-delay: 1s;
}
.delay1100{
  animation-delay: 1.1s;
}
.delay1200{
    animation-delay: 1.2s;
}
.delay1300{
    animation-delay: 1.3s;
}
